<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">Darbu sarasas</div>
            <div class="card-body">
                <div class="row">
                    <app-task-item *ngFor="let task of tasks; let i=index" class="col-md-4" [task]="task" [index]="i" (afterRemoveTask)="removeTask($event)"></app-task-item>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Prideti nauja produkta</div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="" class="form-label">Pavadinimas:</label>
                    <input type="text" class="form-control" #newName> 
                </div>
                <div class="mb-3">
                    <select class="form-label" #select>
                        <option value="skubu">Skubu</option>
                        <option value="neskubu">Neskubu</option>
                    </select>
                </div>
                <button class="btn btn-success" (click)="addNewTask (newName, select)">Prideti</button>
            </div>
        </div>
    </div>
    </div>