<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">Darbu sarasas</div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item"  *ngFor="let task of tasks; let i=index">
                        {{i+1}}. {{ task.name }},  prioritetas: {{ task. priority}} <button class="btn btn-danger float-end" (click)="removeTask(i)">Istrinti</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Prideti nauja produkta</div>
            <div class="card-body">
                <div class="mb-3">
                    <label for="" class="form-label">Pavadinimas:</label>
                    <input type="text" class="form-control" #newName> 
                </div>
                <div class="mb-3">
                    <select class="form-label" #select>
                        <option value="skubu">Skubu</option>
                        <option value="neskubu">Neskubu</option>
                    </select>
                </div>
                <button class="btn btn-success" (click)="addNewTask (newName, select)">Prideti</button>
            </div>
        </div>
    </div>
    </div>